.home {
    text-align: center;
    margin-top: 60px;
}

.home .btn {
    display: inline-block;
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}
